<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>discover</servlet-name>
		<jsp-file>/discover.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>discover</servlet-name>
		<url-pattern>/discover</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>plugin</servlet-name>
		<jsp-file>/plugin.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>plugin</servlet-name>
		<url-pattern>/plugin</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>EmotionTag</servlet-name>
		<servlet-class>com.emobuzz.servlet.EmotionTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmotionTag</servlet-name>
		<url-pattern>/tag</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LongRedirect</servlet-name>
		<servlet-class>com.emobuzz.servlet.RedirectServlet</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>LongRedirect</servlet-name>
		<url-pattern>/re</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>EmoBuzz</servlet-name>
		<servlet-class>com.emobuzz.EmoBuzzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmoBuzz</servlet-name>
		<url-pattern>/emobuzz</url-pattern>
	</servlet-mapping>
	
		<filter>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
